---
const { icon, title, x = 0, y = 0, windowId } = Astro.props;
---
<div 
  class="desktop-icon"
  data-id = {windowId}
  style={`left: ${x}%; top: ${y}%;`} 
>
  <img src={icon} alt={`${title} icon`} />
  <div class="icon-title">{title}</div>
</div>

<style>
  .desktop-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 5px;
  }
  .desktop-icon img {
    width: 50px;
    height: 50px;
  }
  .icon-title {
    color: #fff;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 5px;
  }

  .desktop-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
</style>
